<section class="page-default">
  <!-- breadcrumb -->
  <app-breadcrumb [breadcrumbs]="[ 
    {icon: 'school' , label: 'Alunos', link: '/students' }]">
  </app-breadcrumb>

  <!-- page title -->
  <app-page-title [pageTitle]="{
  icon: 'school', title: 'Alunos'}">
  </app-page-title>

  <!-- buttons -->
  <div class="mb-2">
    <button mat-raised-button class="mr-1">
      <mat-icon>upgrade</mat-icon>
      Exportar
    </button>
    <button mat-raised-button color="primary" (click)="addStudent()">
      <mat-icon>person_add</mat-icon>
      Add Aluno
    </button>
  </div>

  <!-- content -->
  <div class="content">
    <app-datatable [tableData]="students" [tableColumns]="['status', 'name', 'email', 'age', 'course']"
      [tableHeaderCells]="['Status', 'Nome', 'E-mail', 'Idade', 'Curso']">
    </app-datatable>
  </div>
</section>
