<section class="page-default">
  <!-- breadcrumb -->
  <app-breadcrumb [breadcrumbs]="[ 
    {icon: 'school' , label: 'Alunos', link: '/students' }]">
  </app-breadcrumb>

  <!-- page title -->
  <app-page-title [pageTitle]="{
  icon: 'school', title: 'Alunos'}">
  </app-page-title>

  <!-- buttons -->
  <div class="mb-2">
    <app-export-data [data]="exportStudentsData" [title]="'Alunos'"
      [fields]="['Nome', 'E-mail', 'Idade', 'Início', 'Curso', 'Status']"
      [labels]="['Nome', 'E-mail', 'Idade', 'Início', 'Curso', 'Status']">
    </app-export-data>
    <button mat-raised-button color="primary" (click)="addStudent()">
      <mat-icon>person_add</mat-icon>
      Add Aluno
    </button>
  </div>

  <!-- content -->
  <div class="content">
    <app-datatable [tableData]="students" [tableColumns]="['name', 'email', 'date', 'course']"
      [tableHeaderCells]="['Nome', 'E-mail', 'Início', 'Curso']" [hasStatus]="true" (editItem)="editStudent($event)"
      (deleteItem)="deleteStudent($event)" (changeItemStatus)="changeStudentStatus($event)">
    </app-datatable>
  </div>
</section>
