<section class="page-default">
  <!-- breadcrumb -->
  <app-breadcrumb [breadcrumbs]="[ 
    {icon: 'accessibility_new' , label: 'Professores', link: '/teachers' }]">
  </app-breadcrumb>

  <!-- page title -->
  <app-page-title [pageTitle]="{
  icon: 'accessibility_new', title: 'Professores'}">
  </app-page-title>

  <!-- buttons -->
  <div class="mb-2">
    <app-export-data></app-export-data>
    <button mat-raised-button color="primary" (click)="addTeacher()">
      <mat-icon>person_add</mat-icon>
      Add Professor
    </button>
  </div>

  <!-- content -->
  <div class="content">
    <app-datatable [tableData]="teachers" [tableColumns]="['name', 'email', 'date', 'role']"
      [tableHeaderCells]="['Nome', 'E-mail', 'Início', 'Profissão']" [hasStatus]="false"
      (editItem)="editTeacher($event)" (deleteItem)="deleteTeacher($event)">
    </app-datatable>
  </div>
</section>
