/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* DEFAULT */
.mr-1 {
  margin-right: 10px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.w-80 {
  width: 80%;
}

/*  */
app-breadcrumb {
  display: inline-flex;
  background-color: #fff;
  width: 100%;
  padding: 5px 2px 5px 2px;
  border-radius: 4px;
}

.page-default {
  padding: 25px;
}

.content {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px;
}

.mat-grid-tile .mat-figure {
  justify-content: start !important ;
  align-items: start !important;
}
