/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

app-breadcrumb {
  display: inline-flex;
  background-color: #fff;
  width: 100%;
  padding: 5px 2px 5px 2px;
}

.page-default {
  padding: 25px;
}

.content {
}
